<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel='stylesheet' href='/style.css'>  
    <link rel="icon" href="/checklist.png"/>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBPDRzMJIHYsgSMXsJgfSFyHHQcim6-PAA",
    authDomain: "newapp-6044b.firebaseapp.com",
    databaseURL: "https://newapp-6044b.firebaseio.com",
    projectId: "newapp-6044b",
    storageBucket: "newapp-6044b.appspot.com",
    messagingSenderId: "900047522356"
  };
  firebase.initializeApp(config);
</script>
	<title>Notes App</title>
</head>